<mat-toolbar>
  <div class="top-bar-content">
    <div>
      <span class="menu-item">App</span>
      <span class="menu-item" *ngIf="user">
        <a
          routerLink="/user"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Użytkownicy</a
        ></span
      >
      <span class="menu-item" *ngIf="user">
        <a
          routerLink="/product"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Produkty</a
        ></span
      >
      <span class="menu-item" *ngIf="user">
        <a
          routerLink="/order"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Zamówienia</a
        ></span
      >
    </div>
    <div *ngIf="user">
      <span>Zalogowany jako: {{ user?.email }}</span>
      <span
        ><button (click)="logout()" mat-raised-button color="primary">
          Wyloguj
        </button></span
      >
    </div>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
